@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 1em;
}

h1, h2, h3 {
    font-weight: 300;
}

#keyboardInp {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
}